macro_mac_vim_b: macro_mac_vim_b {
  compatible = "zmk,behavior-macro";
  label = "macro_mac_vim_b";
  #binding-cells = <0>;
  bindings = <&kt LEFT_ALT>, <&kp LEFT_ARROW>, <&kt LEFT_ALT>;
};
macro_mac_vim_e: macro_mac_vim_e {
  compatible = "zmk,behavior-macro";
  label = "macro_mac_vim_e";
  #binding-cells = <0>;
  bindings = <&kt LEFT_ALT>, <&kp RIGHT_ARROW>, <&kt LEFT_ALT>;
};
macro_mac_desk_right: macro_mac_desk_right {
  compatible = "zmk,behavior-macro";
  label = "macro_mac_desk_right";
  #binding-cells = <0>;
  bindings = <&kt LCTRL>, <&kp RIGHT_ARROW>, <&kt LCTRL>;
};
macro_mac_desk_left: macro_mac_desk_left {
  compatible = "zmk,behavior-macro";
  label = "macro_mac_desk_left";
  #binding-cells = <0>;
  bindings = <&kt LCTRL>, <&kp LEFT_ARROW>, <&kt LCTRL>;
};
macro_win_desk_left: macro_win_desk_left {
  compatible = "zmk,behavior-macro";
  label = "macro_win_desk_left";
  #binding-cells = <0>;
  bindings = <&kt LCTRL>, <&kt LEFT_GUI>, <&kp LEFT_ARROW>, <&kt LCTRL>, <&kt LEFT_GUI>;
};
macro_win_desk_right: macro_win_desk_right {
  compatible = "zmk,behavior-macro";
  label = "macro_win_desk_right";
  #binding-cells = <0>;
  bindings = <&kt LCTRL>, <&kt LEFT_GUI>, <&kp RIGHT_ARROW>, <&kt LCTRL>, <&kt LEFT_GUI>;
};
